<div id="legales" class="scheme-section section black-theme-dark pt-1">
  <div class="container">
    <div class="container">
      <div class="row biography-row">
        <div class="card-biography">
          <div class="row">
            <!--<div class="col-11 col-md-8 col-lg-8 mt_10 col_center">
                 <div class="embed-responsive embed-responsive-16by9 mb_30 mt_10">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/V-YATyKBuKE"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen=""></iframe>
                </div> 
                <img src="https://cdn.teleticket.com.pe/especiales/reggaeton-lima-festival-4-2023/images/video.jpg" class="img-fluid mb_45">
              </div>-->

            <div class="col-12 col-md-10 col-lg-11 pb-0 col_center content-description text-center">
              <div class="row">
                <div class="col-11 col-md-10 col-lg-12 text-center col_center">
                  <div class="logo_regga mb_230">
                    <img class="img-fluid halloween floating" src="assets/images/amf-dates.png" alt="" />
                    <img class="img-fluid base_logo" src="assets/images/logo-reggaeton2.png" alt="" />
                  </div>
                </div>

                <div class="col-12 col-md-12 col-lg-12 text-justify legales">
                  <ul class="marks-list small pb-5 dat_legales">

                    <li>
                      <span class="marker">*</span>
                      <span class="list-text">
                        <b>Público recomendado:</b> Niños / Familiar.
                      </span>
                    </li>

                    <li>
                      <span class="marker">*</span>
                      <span class="list-text">
                        Niños ingresan y partir de los 6 años acompañados de un adulto responsable de su
                        seguridad, cada uno con su entrada.
                      </span>
                    </li>

                    <li>
                      <span class="marker">*</span>
                      <span class="list-text">
                        Deberán presentar su ticket o e-ticket para el ingreso. Todos los boletos serán escaneados
                        al ingreso por medio de dispositivos digitales. En caso que el ticket o e-ticket esté
                        roto, en mal estado o con indicios de falsificación, la producción u organizador podrán NO
                        AUTORIZAR la entrada al recinto.
                      </span>
                    </li>

                    <li>
                      <span class="marker">*</span>
                      <span class="list-text">
                        <b>Día del concierto:</b> Sábado 18 de noviembre del 2023.
                      </span>
                    </li>

                    <li>
                      <span class="marker">*</span>
                      <span class="list-text">
                        <b>Hora de ingreso:</b> 11:00 a.m.
                      </span>
                    </li>

                    <li>
                      <span class="marker">*</span>
                      <span class="list-text">
                        <b>Inicio de show:</b> A partir de las 12:00 pm.
                      </span>
                    </li>

                    <li>
                      <span class="marker">*</span>
                      <span class="list-text">
                        <b>Duración aproximada del evento:</b> 15 horas en promedio.
                      </span>
                    </li>

                    <li>
                      <span class="marker">*</span>
                      <span class="list-text">
                        Se sugiere llegar con anticipación al ESTADIO SAN MARCOS (AV. GERMAN AMEZAGA Nº 375).
                      </span>
                    </li>

                    <li>
                      <span class="marker">*</span>
                      <span class="list-text">
                        Precios incluyen comisión de ticketera e impuestos. Descuentos no aplican a la comision de
                        la ticketera.
                      </span>
                    </li>

                    <li>
                      <span class="marker">*</span>
                      <span class="list-text">
                        Todos los asistentes deberán respetar las indicaciones y señalizaciones del evento.
                        Recordar que siempre se deberá cumplir con los protocolos establecidos para el cuidado de
                        todos los asistentes.
                      </span>
                    </li>

                  </ul>
                </div>

                <div class="col-12 col-md-12 col-lg-12 text-center">
                  <div class="info-section section">
                    <div class="text-center pb-5 produce">
                      <p>
                        Organiza: <br />
                        <b>SOUND MUSIC ENTERTAINMENT SAC</b>
                        <br />RUC: 20607594041
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-12 col-lg-12 text-center">
                  <div class="production-container py-2">
                    <div class="production-logo">
                      <img src="assets/images/logo_productora.png" class="h_80">
                    </div>
                  </div>
                  <div class="production-container py-2">
                    <div class="production-logo">
                      <span>RADIO OFICIAL</span>
                      <img src="assets/images/logo-moda.png" class="h_60">
                    </div>
                    <div class="production-logo">
                      <span>LICENCIADO</span>
                      <img src="assets/images/logo-apdayc.jpg" class="h_60">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>