<footer class="footer">
  <div class="container">
    <div class="text">
      Producido por: 
      <a href="https://vibraaevents.com/" target="_blank"><strong>Vibraa</strong></a> una marca de 
      <a class="" href="http://wearevoila.io" target="_blank"><strong>Voíla Technology</strong></a>
    </div>
    <div class="logos">
      <a href="https://vibraaevents.com/" target="_blank">
        <img src="assets/images/LOGO_VIBRAA.png" class="px-1" height="35px">
      </a>
      <a class="" href="http://wearevoila.io" target="_blank">
        <img src="assets/images/LOGO_VOILA.png" class="px-1" height="35px">
      </a>
    </div>
  </div>
    
</footer>