<div class="zona-banner">
    <div class="row mx-0">
        <div class="col-12 col-md-10 col-lg-8 col_center text-center">
        </div>
        <div class="col-12 col-md-10 col-lg-8 col_center text-center">
            <div class="logo_regga mb-95">
                <!-- <img class="img-fluid halloween floating" src="assets/images/amf-dates.png" alt="" /> -->
                <img class="img-fluid base_logo" src="assets/images/logo-reggaeton.png" alt="" />
            </div>
        </div>
        <div class="col-12 col-md-10 col-lg-11 col_center text-center" id="info">
            <img class="img-fluid fondo_nuevo" src="assets/images/artistas7.png" alt="" />
        </div>
        <div class="col-12 col-md-10 col-lg-9 col_center text-center my-lg-5 my-2 pt-5">
            <img class="img-fluid animate__animated animate__fadeIn lug_fecha"
                src="assets/images/logo-san-marcos.png" alt="" />
        </div>
    </div>
</div>